#title {
    background-image: url(assets/green-leaf-plant-808510.jpg);
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    color: white;
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    justify-items: center;
    text-shadow: -2px -2px 8px #000000;
    align-content: center;
}
.navbar{
    background-color: #E0E0E0;
    display: inline-block;
    float: none;
    text-align: center;
}
